{% extends 'core/base.html' %}
{% load static %}

{% block title %}Orden de Compra{% endblock %}

{% block content %}
<div class="container-fluid">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Seleccionar proveedor</h4>
                        <div class="form-group">
                            {{ form.provedor }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Seleccionar productos</h3>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-2 text-dark">Productos</label>
                                <div class="col-lg-4">
                                    <select class="form-control selectProducts" id="selectProducts_1" name="products_1"
                                        required onchange="getPrice(1)">
                                        <option value=""></option>
                                        {% for p in products %}
                                        <option value="{{p.id}}" price={{p.price_sell}}>{{p}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <input type="number" min="1" value="1" class="form-control" name="qty_1" id="qty_1"
                                        required>
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control productPrice_1 prices" required readonly>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="btn btn-success" id="btnAddInput">+</a>
                                </div>

                            </div>
                        </div>
                        <div id="selectInputs" class="form-group mb-3">

                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <h3 class="font-weight-bold text-uppercase text-right text-dark">Subtotal <span
                                        id="subtotal">$0.00</span></h3>
                            </div>
                            <div class="col-lg-12">
                                <h3 class="font-weight-bold text-uppercase text-right text-dark">I.V.A. <span
                                        id="iva">$0.00</span></h3>
                            </div>
                            <div class="col-lg-12">
                                <h3 class="font-weight-bold text-uppercase text-right text-dark">Total <span
                                        id="total">$0.00</span></h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Condiciones de entrega</h3>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <h3 class="card-title text-center mb-4">Observaciones</h3>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-actions">
                            <div class="text-center">
                                <button type="button" name="create" class="btn btn-lg  btn-info mt-3"
                                    id="btnGuardar">Generar orden de
                                    compra</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block js_footer %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function getPrice(y) {
        $('#qty_' + y).val(1);
        let price = $('#selectProducts_' + y + ' option:selected').attr('price');
        $('.productPrice_' + y).val(Number.parseFloat(price).toFixed(2));
        let oldProductCount = $('#qty_' + y).val()
        $('#qty_' + y).on('change', function () {
            let newProductCount = $('#qty_' + y).val();
            $('.productPrice_' + y).val((newProductCount * price).toFixed(2))
            let sumPrices = 0;
            $(".prices").each(function () {
                sumPrices += +$(this).val();
            });
            $("#subtotal").text('$' + sumPrices.toFixed(2));
            $("#iva").text('$' + (sumPrices * .16).toFixed(2));
            $("#total").text('$' + (sumPrices * 1.16).toFixed(2));

        });
        let sumPrices = 0;
        $(".prices").each(function () {
            sumPrices += +$(this).val();
        });
        $("#subtotal").text('$' + sumPrices.toFixed(2));
        $("#iva").text('$' + (sumPrices * .16).toFixed(2));
        $("#total").text('$' + (sumPrices * 1.16).toFixed(2));
    }
    $(document).ready(function () {
        let productos = [];
        $("#id_provedor").change(function () {
            $(".prices").val("");
            $("#subtotal").text("$0.00");
            $("#iva").text("$0.00");
            $("#total").text("$0.00");
            jQuery.ajax({
                dataType: "json",
                type: "GET",
                url: "productos/" + $("#id_provedor").val(),
                success: function (data) {
                    productos = data.productos;
                    $(".selectProducts").empty().append($("<option>"));
                    productos.forEach(e => (
                        $(".selectProducts").append($("<option>", { value: e.idProducto, text: e.nombre, price: e.precio }))
                    ));
                }
            })
        });
        $('#selectProveedor').select2({ theme: 'bootstrap4' });
        $('#selectProducts_1').select2({ theme: 'bootstrap4' });

        let x = 1;
        let addButton = $('#btnAddInput');
        let wrapper = $('#selectInputs');
        $(addButton).click(function () {
            x++;
            let fieldHTML = ` <div class="form-group">
                                <div class="row">
                                    <label class="col-lg-2 text-dark">Productos</label>
                                    <div class="col-lg-4">
                                        <select class="form-control selectProducts" id="selectProducts_${x}" name="products_${x}"
                                            required onchange="getPrice(${x})">
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="number" min="1" value="1" class="form-control" name="qty_${x}" id="qty_${x}"
                                            required>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" class="form-control productPrice_${x} prices" required readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <a href="#" class="btn btn-danger btnDeleteSelect">x</a>
                                    </div>

                                </div>
                            </div>`
            $(wrapper).append(fieldHTML);
            $('#selectProducts_' + x + ':last').append($("<option>"));
            productos.forEach(e => (
                $('#selectProducts_' + x + ':last').append($("<option>", { value: e.idProducto, text: e.nombre, price: e.precio }))
            ));
            $('#selectProducts_' + x + ':last').select2({ theme: 'bootstrap4' });

        });
        $(wrapper).on('click', '.btnDeleteSelect', function (e) {
            e.preventDefault();
            $(this).closest('.row').remove();
            x--;
            let sumPrices = 0;
            $(".prices").each(function () {
                sumPrices += +$(this).val();
            });
            $("#subtotal").text('$' + sumPrices.toFixed(2));
            $("#iva").text('$' + (sumPrices * .16).toFixed(2));
            $("#total").text('$' + (sumPrices * 1.16).toFixed(2));

        });


        $('#btnGuardar').click(function () {
            Swal.fire({
                title: '¿Estas seguro de registrar la orden de compra?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#22ca80',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Registrar'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Registro completo',
                        'La orden ha sido registrada',
                        'success'
                    )
                }
            })
        });


    });
</script>
{% endblock %}